@model NPVCalc.Models.NPV

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NPV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LowerBoundDiscountRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowerBoundDiscountRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpperBoundDiscountRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpperBoundDiscountRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountRateIncrement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountRateIncrement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashFlows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashFlows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPVs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPVs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NPVId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
